<!DOCTYPE html>

<html>
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Accumulative Blog</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/posts/">Posts</a>
        </nav>
        {%block content%}
        {%endblock%}
    </body>
</html>