{%extends 'base.html'%}

{%block title%}All Posts{%endblock%}

{%block content%}
    <ul>
    {%for post in posts%}
        <li>
            <h2><a href={{url_for('posts.get_post',post_id=post.id)}}>{{post.title}}</a></h2>
            <p>{{post.tag_line}}</p>
        </li>
    {%endfor%}
    </ul>
    <form method="POST">
        {{form.csrf_token}}
        {{form.title.label}}: {{form.title}}
        {{form.author.label}}: {{form.author}}
        {{form.text.label}}: {{form.text}}
        {{form.tag_line.label}}: {{form.tag_line}}
        {{form.id.label}}: {{form.id}}
        <input type="submit" value="Create Post"/>
    </form>
{%endblock%}